@import "tailwindcss";

@theme{
    --color-dark: #222;
    --color-light: #eee;
    --color-dim: color-mix(in oklab,  #ddd, transparent);
    --color-secondary: #282828;
    --color-tertiary: #333333;
    --font-secondary: "Tomorrow", sans-serif;

    --breakpoint-xxs: 295px;
    --breakpoint-xs: 480px;
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;
    --breakpoint-2xl: 1536px;
}

body{
    font-family: "Prompt", sans-serif;
    background-color: #222;
    color: #eee;
}

.scroll-bar::-webkit-scrollbar{
    height: 5px;
    width: 5px;
    border-radius: 5px;
    background-color: transparent;
}

.scroll-bar::-webkit-scrollbar-thumb{
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--color-dim);
}