@import "tailwindcss";

@theme{
    --color-dark: #222;
    --color-light: #eee;
    --color-dim: color-mix(in oklab,  #ddd, transparent);
    --color-secondary: #282828;
    --color-tertiary: #333333;
    --font-secondary: "Andika", sans-serif;

    --breakpoint-xxs: 295px;
    --breakpoint-xs: 480px;
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;
    --breakpoint-2xl: 1536px;
}

.scroll-none::-webkit-scrollbar{
    display: none;
}

body{
    font-family: "Andika", sans-serif;
    background-position: center;
    background-size: cover;
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body::-webkit-scrollbar{
    background: url(../background.jpg) no-repeat right fixed;
}

::-webkit-scrollbar{
    height: 5px;
    width: 5px;
    border-radius: 5px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--color-dim);
}

::-webkit-scrollbar-track{
    background-color: transparent;
}